{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password Reset Sent | Learning management system' %}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">{% trans 'Password Reset' %}</h3>
  <div class="container">
    {% if email_sent %}
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>{% trans 'An Email has been sent with instructions to reset your password. Please check your email.' %}
      </div>
    {% else %}
      <div class="alert alert-warning">
        <i class="fas fa-exclamation-triangle"></i>{% trans 'We could not send the password reset email. Please try again or contact support.' %}
      </div>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'login' %}" id="login-btn">{% trans 'Back To Login' %}</a>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
setTimeout(function() {
    window.location.href = "{% url 'login' %}";
}, 10000); // Redirect after 10 seconds
</script>
{% endblock %}
